<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nopic! dynamic images</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Marek Wywiał http://marekwywial.name">

    <!-- Le styles -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link id="switch_style" href="/media/css/silver/bootstrap.min.css" rel="stylesheet">

    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/media/css/docs.css" rel="stylesheet">
    <link href="/media/js/google-code-prettify/prettify.css" rel="stylesheet">

    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/bootstrap-transition.js"></script>
    <script src="/media/js/bootstrap-alert.js"></script>
    <script src="/media/js/bootstrap-modal.js"></script>
    <script src="/media/js/bootstrap-dropdown.js"></script>
    <script src="/media/js/bootstrap-scrollspy.js"></script>
    <script src="/media/js/bootstrap-tab.js"></script>
    <script src="/media/js/bootstrap-tooltip.js"></script>
    <script src="/media/js/bootstrap-popover.js"></script>
    <script src="/media/js/bootstrap-button.js"></script>
    <script src="/media/js/bootstrap-collapse.js"></script>
    <script src="/media/js/bootstrap-carousel.js"></script>
    <script src="/media/js/bootstrap-typeahead.js"></script>
    <script src="/media/js/application.js"></script>
</head>
<body>
<div class="container">



<div class="row-fluid">
    <div class="span9"><br/><h1>NoPic!</h1>
    </div>
    <div class="span3"><br/>
    <div class="pull-right">
    <!-- a href="#"  original-title="facebook"><img src="/media/icon/soc1.png"  alt="facebook"></a -->
    </div>
    </div>

    <!--
    <div class="span3"><br/>
    <div class="pull-right">
    <a href="#"  original-title="facebook"><img src="/media/icon/facebook.png"  alt="facebook"></a>
    <a href="#"  original-title="Delicious"><img src="/media/icon/digg.png"  alt="Delicious"></a>
    <a href="#"  original-title="myspace"><img src="/media/icon/myspace.png" alt="myspace"></a><br/><br/>
    </div>
    </div>
    <div class="pull-right">
    <a href="#"  original-title="facebook"><img src="/media/css/images/admin/facebook.jpg" width="23" height="22" alt="facebook"></a>
    <a href="#"  original-title="Delicious"><img src="/media/css/images/admin/delicious.jpg" width="23" height="22" alt="Delicious"></a>
    <a href="#"  original-title="Digg"><img src="/media/css/images/admin/digg.jpg" width="23" height="22" alt="Digg"></a>
    <a href="#"  original-title="Twitter"><img src="/media/css/images/admin/twitter.jpg" width="23" height="22" alt="Twitter"></a>
    <a href="#"  original-title="Stumbleupon"><img src="/media/css/images/admin/stumbleupon.jpg" width="23" height="22" alt="Stumbleupon"></a> <br/><br/>
    </div> -->
</div>

<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="#" class="brand">Dynamic pictures</a>
        <!-- div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form action="" class="navbar-search pull-left">
            <input type="text" placeholder="Search" class="search-query span2">
          </form>
          <ul class="nav pull-right">
            <li><a href="#">Link</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div --><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

<div class="row-fluid">
    <div class="span7">

    <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><img src="/556x420/F5F3DC/454445/?text=400 or 400x200&size=24" style="width:100%"/>
    <div class="carousel-caption">
                <h4>Simple sizes</h4>
                  <p> * square image - <a href="http://nopic.herokuapp.com/300/" target="_blank">http://nopic.herokuapp.com/300/</a><br/>
                  * different height - <a href="http://nopic.herokuapp.com/556x420/" target="_blank">http://nopic.herokuapp.com/556x420/</a></p>
                </div>
    </div>

    <div class="item"><img src="/556x420/F5F3DC/454445/?text=/size/background/foreground/&size=24" style="width:100%"/>
    <div class="carousel-caption">
                  <h4>Change colors</h4>
                  <p>
                  * background - <a href="http://nopic.herokuapp.com/556x420/454445/" target="_blank">http://nopic.herokuapp.com/400x200/454445/</a><br/>
                  * &amp; foreground - <a href="http://nopic.herokuapp.com/556x420/454445/F5F3DC/" target="_blank">http://nopic.herokuapp.com/400x200/454445/F5F3DC/</a>
                </div>
    </div>

    <div class="item"><img src="/556x420/F5F3DC/454445/?text=Custom text&size=28" style="width:100%"/>
    <div class="carousel-caption">
                  <h4>Change text and size</h4>
                  <p>
                  * custom text and font size - <a href="http://nopic.herokuapp.com/556x420/F5F3DC/454445/?text=Custom text&size=28" target="_blank">http://nopic.herokuapp.com/400x200/F5F3DC/454445/?text=Custom text&size=28</a>
                </div>
    </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>



    </div>
    <div class="span5">
        <form class="well form-inline" id="generator">
            <h3>Generate dynamic image url (works with <a href="https://nopic.herokuapp.com">SSL</a>)</h3><br/>
        <p style="text-align:justify">
        </p>

        <div class="control-group" >

            <div class="controls">
              <div class="input-append" >
                 / <input type="text" name="width" size="6" id="appendedInputButton" class="span2" value="470"/> x
                <input type="text" name="height" size="6" id="appendedInputButton" class="span2" value="220"/> /
                <input type="text" name="background" size="6" id="appendedInputButton" class="span3" value="F5F3DC"/> /
                <input type="text" name="foreground" size="6" id="appendedInputButton" class="span3" value="454445"/><br/><br/>

                <select name="font">
                    <option value="lobster">lobster</option>
                    <option value="inconsolata">inconsolata</option>
                    <option value="miso">miso</option>
                    <option value="miso-bold">miso-bold</option>
                </select>
                <input type="text" name="size" size="3" id="appendedInputButton" class="span2" value="24"/>px
                <br/><br/>
                <input type="text" name="text" size="40" id="appendedInputButton" class="span9" value="My awesome generated image"/><br/><br/>

              </div>
            </div>
            <div class="controls">
              <div class="input-append" >
                <button id="generate" type="submit" class="btn btn-inverse" style="padding-left:13px">Generate</button>
              </div>
            </div>
          </div>
        </form>
        <a href="#" id="generated" target="_blank">
        <img src="">
        </a>
        <script type="text/javascript">
        function generate()
        {
            if (window.location.protocol != "https:") {
                var url = 'http://nopic.herokuapp.com';
            } else {
                var url = 'https://nopic.herokuapp.com';
            }
            $.each($('#generator').serializeArray(), function(i, field) {
                if (i == 1) {
                    url += 'x' + field.value;
                } else if (i < 4) {
                    url += '/' + field.value;
                } else if (i == 4) {
                    url += '?font=' + field.value;
                } else {
                    url += '&' + field.name + '=' + field.value;
                }
            });
            $('#generated img').toggle();
            $('#generated').attr('href', url);
            $('#generated img').attr('src', url);
            $('#generated img').toggle();
        }

        $('#generator').on('submit', function(form) {
                generate();
                return false;
        });
        generate();
        </script>
    </div>
</div>
<div class="row-fluid">

    <div class="span4">
    <center>
    <img src="/350x150/?font=inconsolata&size=24&text=Inconsolata font">
    <br/><br/>
    <a class="btn" style="width:285px;" href="http://nopic.herokuapp.com/350x150?font=inconsolata&size=24&text=Inconsolata" target="_blank">Simple <strong>inconsolata</strong> font</a>
    </center>
    </div>

    <div class="span4">
    <center>
    <img src="/350x150/?font=miso-bold&size=24&text=Miso bold font">
    <br/><br/>
    <a class="btn" style="width:285px;" href="http://nopic.herokuapp.com/350x150?font=miso-bold&size=24&text=Miso bold" target="_blank">Awesome <strong>miso-bold</strong> font</a>
    </center>
    </div>

    <div class="span4">
    <center>
    <img src="/350x150/?font=lobster&size=24&text=Default lobster font">
    <br/><br/>
    <a class="btn" style="width:285px;" href="http://nopic.herokuapp.com/350x150?font=lobster" target="_blank">Default <strong>lobster</strong> font</a>
    </center>
    </div>

</div>
<div class="row"><center><br/><br/>&copy; <a href="http://marekwywial.name">marekwywial.name</a> <br/> <br/></center></div>

</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48574879-1', 'nopic.herokuapp.com');
    ga('send', 'pageview');

</script>
</body>
</html>
